name: Build

on:
    workflow_call:
        inputs:
            publish-snapshots:
                description: Whether the snapshots should be published (true/false)
                required: true
                type: boolean
        secrets:
            docker_hub_token:
                required: false
                description: Docker Hub token

jobs:
    check-code-gen:
        name: Check Code Generation
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup GoLang
              uses: actions/setup-go@v3
              with:
                  go-version: "^1.21"
            - name: Setup Operator SDK
              run: |
                  .github/scripts/setup-operator-sdk.sh
            - name: Generate code
              run: make generate manifests
            - name: Check for changes
              run: |
                  if [ -n "$(git status --porcelain)" ]; then
                    echo "There are new changes after the code generation. Please run 'make generate manifests bundle' and commit the changes"
                    exit 1
                  fi

    check-code:
        name: Check Code
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup GoLang
              uses: actions/setup-go@v3
              with:
                  go-version: "^1.21"
            - name: Vet Code
              run: make vet
            - name: Check Code Format
              run: |
                  make fmt
                  if [ -n "$(git status --porcelain)" ]; then
                    echo "There are new changes after the code format. Please run 'make fmt' and commit the changes"
                    exit 1
                  fi

    run-super-linter:
        name: Run GitHub Super Linter
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Lint Code Base
              uses: github/super-linter@v4
              env:
                  DEFAULT_BRANCH: main
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  VALIDATE_ALL_CODEBASE: "true"
                  KUBERNETES_KUBEVAL_OPTIONS: --ignore-missing-schemas
                  VALIDATE_GO: "false"
                  VALIDATE_KUBERNETES_KUBEVAL: "false"

    run-codeql-analysis:
        name: Run CodeQL Analysis
        runs-on: ubuntu-latest
        permissions:
            actions: read
            contents: read
            security-events: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Initialize CodeQL
              uses: github/codeql-action/init@v2
              with:
                  languages: go
            - name: Autobuild
              uses: github/codeql-action/autobuild@v2
            - name: Perform CodeQL Analysis
              uses: github/codeql-action/analyze@v2

    run-unit-tests:
        name: Run Unit Tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup GoLang
              uses: actions/setup-go@v3
              with:
                  go-version: "^1.21"
            - name: Run Unit Tests
              run: make test.unit

    run-benchmark-tests:
        name: Run Benchmark Tests
        runs-on: ubuntu-latest
        permissions:
          checks: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup GoLang
              uses: actions/setup-go@v3
              with:
                  go-version: "^1.21"
            - name: Run Benchmark Tests
              run: make test.benchmark
              env:
                  CONTROLLER_IMAGE: nadunrds/k8s-replicator:${{ github.sha }}
            - name: Upload Benchmark Report
              run: |
                curl -X POST https://api.github.com/repos/${{ github.repository }}/check-runs \
                  -H "Accept: application/vnd.github.antiope-preview+json" \
                  -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                  -d "{\"name\": \"Benchmark Results\", \"head_sha\": \"${{ github.sha }}\", \"status\": \"completed\", \"completed_at\": \"$(date -u +"%Y-%m-%dT%H:%M:%SZ")\", \"conclusion\": \"success\", \"output\": {\"title\": \"Benchmark Results\", \"summary\": \"Benchmark test results of K8s Replicator\", \"text\": \"$(sed ':a;N;$!ba;s/\n/\\n/g' <<< cat test/benchmark/report.md)\"}}"

    run-e2e-tests:
        name: Run E2E Tests
        runs-on: ubuntu-latest
        strategy:
            matrix:
                resource:
                    - Secret
                    - ConfigMap
                    - NetworkPolicy
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup GoLang
              uses: actions/setup-go@v3
              with:
                  go-version: "^1.21"
            - name: Run E2E Tests
              run: make test.e2e
              env:
                  TEST_RESOURCES_FILTER_REGEX: ${{ matrix.resource }}
                  CONTROLLER_IMAGE: nadunrds/k8s-replicator:${{ github.sha }}

    validate-examples:
        name: Validate Examples
        runs-on: ubuntu-latest
        strategy:
            matrix:
                example:
                    - cert-manager
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup GoLang
              uses: actions/setup-go@v3
              with:
                  go-version: "^1.21"
            - name: Setup Kind
              run: |
                go get sigs.k8s.io/kind
                echo "PATH=${PATH}:$(go env GOPATH)/bin" >> "${GITHUB_ENV}"
            - name: Setup K8s Cluster
              run: |
                kind create cluster --name=example-validation-cluster
                docker build -t nadunrds/k8s-replicator:${{ github.sha }} .
                kind load docker-image nadunrds/k8s-replicator:${{ github.sha }} --name=example-validation-cluster
                NODE_NAME="$(kubectl get nodes -o jsonpath='{.items[0].metadata.name}')"

                kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml
                kubectl label node "${NODE_NAME}" ingress-ready=true
                kubectl wait --namespace ingress-nginx \
                  --for=condition=ready pod \
                  --selector=app.kubernetes.io/component=controller \
                  --timeout=90s

                K8S_CLUSTER_IP="$(kubectl get nodes "${NODE_NAME}" -o jsonpath='{.status.addresses[?(@.type=="InternalIP")].address}')"
                echo "K8S_CLUSTER_IP=${K8S_CLUSTER_IP}" >> "${GITHUB_ENV}"
              env:
                  CONTROLLER_IMAGE: nadunrds/k8s-replicator:${{ github.sha }}
            - name: Validate Example
              run: |
                echo "Updating controller image tag to ${{ github.sha }}"
                docker run --workdir=/artifacts --entrypoint=/app/kustomize \
                    -v "$(pwd)/config/manager:/artifacts" k8s.gcr.io/kustomize/kustomize:v3.8.7 \
                    edit set image "controller=nadunrds/k8s-replicator:${{ github.sha }}"

                pushd examples/${{ matrix.example }}
                ./validate.sh
                popd

    build-operator:
        name: Build Operator
        runs-on: ubuntu-latest
        needs:
            - check-code-gen
            - check-code
            - run-super-linter
            - run-codeql-analysis
            - run-unit-tests
            - run-benchmark-tests
            - run-e2e-tests
            - validate-examples
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup GoLang
              uses: actions/setup-go@v3
              with:
                  go-version: "^1.21"
            - name: Setup Operator SDK
              run: |
                  .github/scripts/setup-operator-sdk.sh
            - name: Generate code
              run: make generate manifests bundle
              env:
                  IMG: "nadunrds/k8s-replicator:${{ github.ref_name }}"
                  BUNDLE_IMG: "nadunrds/k8s-replicator-bundle:${{ github.ref_name }}"
            - name: Building Controller
              run: make docker-buildx
              env:
                  IMG: "nadunrds/k8s-replicator:${{ github.ref_name }}"
            - name: Run Trivy vulnerability scanner on Controller
              uses: aquasecurity/trivy-action@master
              with:
                  image-ref: nadunrds/k8s-replicator:${{ github.ref_name }}
                  format: 'table'
                  exit-code: '1'
                  ignore-unfixed: true
            - name: Building Controller Bundle
              run: make bundle-build
              env:
                  BUNDLE_IMG: "nadunrds/k8s-replicator-bundle:${{ github.ref_name }}"
            - name: Run Trivy vulnerability scanner on Controller Bundle
              uses: aquasecurity/trivy-action@master
              with:
                  image-ref: nadunrds/k8s-replicator-bundle:${{ github.ref_name }}
                  format: 'table'
                  exit-code: '1'
                  ignore-unfixed: true
                  trivyignores: .trivyignore
            - name: Login to the Container registry
              if: ${{ inputs.publish-snapshots == true }}
              uses: docker/login-action@v2
              with:
                  username: nadunrds
                  password: ${{ secrets.docker_hub_token }}
            - name: Pushing Controller
              if: ${{ inputs.publish-snapshots == true }}
              run: make docker-push
              env:
                  IMG: "nadunrds/k8s-replicator:${{ github.ref_name }}"
            - name: Pushing Controller Bundle
              if: ${{ inputs.publish-snapshots == true }}
              run: make bundle-push
              env:
                  BUNDLE_IMG: "nadunrds/k8s-replicator-bundle:${{ github.ref_name }}"
