name: Publish Release

on:
    push:
        tags:
            - v*

jobs:
    publish-release:
        name: Publish Release
        runs-on: ubuntu-latest
        steps:
            - name: Generate Version
              run: |
                echo "GitHub Tag: ${{ github.ref_name }}"

                TAG_VERSION="$(echo -n "${{ github.ref_name }}" | cut -c2-)"
                MAJOR="$(echo -n "${TAG_VERSION}" | cut -d "." -f1)"
                MINOR="$(echo -n "${TAG_VERSION}" | cut -d "." -f2)"
                PATCH="$(echo -n "${TAG_VERSION}" | cut -d "." -f3)"

                RELEASE_MAJOR_VERSION="${MAJOR}"
                RELEASE_MINOR_VERSION="${MAJOR}.${MINOR}"
                RELEASE_PATCH_VERSION="${MAJOR}.${MINOR}.${PATCH}"

                addEnvVar() {
                  echo "${1}=${2}" >> "${GITHUB_ENV}"
                }
                addEnvVar "RELEASE_MAJOR_VERSION" "${RELEASE_MAJOR_VERSION}"
                addEnvVar "RELEASE_MINOR_VERSION" "${RELEASE_MINOR_VERSION}"
                addEnvVar "RELEASE_PATCH_VERSION" "${RELEASE_PATCH_VERSION}"

                echo "Release Major Version: ${RELEASE_MAJOR_VERSION}"
                echo "Release Minor Version: ${RELEASE_MINOR_VERSION}"
                echo "Release Patch Version: ${RELEASE_PATCH_VERSION}"
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup GoLang
              uses: actions/setup-go@v2
              with:
                  go-version: "^1.18"
            - name: Building Controller
              run: make all
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v1
            - name: Set up Docker Buildx
              id: buildx
              uses: docker/setup-buildx-action@v1
              with:
                  install: true
            - name: Available platforms
              run: echo ${{ steps.buildx.outputs.platforms }}
            - name: Login to the Container registry
              uses: docker/login-action@v1
              with:
                  username: nadunrds
                  password: ${{ secrets.DOCKER_HUB_TOKEN }}
            - name: Build Docker Image for scanning
              uses: docker/build-push-action@v2
              with:
                  context: .
                  load: true
                  tags: nadunrds/k8s-replicator:${{ github.sha }}
            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@master
              with:
                  image-ref: nadunrds/k8s-replicator:${{ github.sha }}
                  format: 'table'
                  exit-code: '1'
                  ignore-unfixed: true
            - name: Run E2E Tests
              run: make test.e2e
              env:
                  CONTROLLER_IMAGE: nadunrds/k8s-replicator:${{ github.sha }}
            - name: Build & Push Docker Image
              uses: docker/build-push-action@v2
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64,linux/arm/v7
                  push: ${{ github.repository_owner == 'nadundesilva' }}
                  tags: |
                    nadunrds/k8s-replicator:${{ env.RELEASE_MAJOR_VERSION }}
                    nadunrds/k8s-replicator:${{ env.RELEASE_MINOR_VERSION }}
                    nadunrds/k8s-replicator:${{ env.RELEASE_PATCH_VERSION }}
                    nadunrds/k8s-replicator:latest
            - name: Prepare Release Note
              run: |
                sed -i 's/{{VERSION_TAG}}/${{ github.ref_name }}/g' .github/RELEASE_NOTE
            - name: Create Release
              id: create-release
              uses: actions/create-release@v1
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                tag_name: ${{ github.ref }}
                release_name: Kubernetes Replicator ${{ github.ref_name }}
                body_path: .github/RELEASE_NOTE
                draft: false
                prerelease: false
            - name: Create deployment artifacts zip
              run: |
                zip k8s-replicator ./kustomize/**
            - name: Upload Release Asset
              uses: actions/upload-release-asset@v1
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                upload_url: ${{ steps.create-release.outputs.upload_url }}
                asset_path: ./k8s-replicator.zip
                asset_name: k8s-replicator-${{ github.ref_name }}.zip
                asset_content_type: application/zip
            - name: Prepare for next release cycle
              run: |
                addToReleaseNote() {
                  echo "${1}" >> ".github/RELEASE_NOTE"
                }

                echo -n "" > ".github/RELEASE_NOTE"
                addToReleaseNote "#### How to use"
                addToReleaseNote ""
                addToReleaseNote "Check the [Read Me](https://github.com/nadundesilva/k8s-replicator/tree/{{VERSION_TAG}}#how-to-use) for instructions on how to use the controller."
                addToReleaseNote ""
                addToReleaseNote "#### Changelog:"
                addToReleaseNote ""
                addToReleaseNote "- "

                git config --global user.name "${{ github.actor }}"
                git config --global user.email nadunrds@gmail.com
                git add .github/RELEASE_NOTE
                git commit -m "[Automated] Preparing for next development iteration"

                git checkout -b "release-${RELEASE_PATCH_VERSION}"
                git push origin "release-${RELEASE_PATCH_VERSION}"
            - name: Create Release Sync Pull Request
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                gh pr create --assignee "${{ github.actor }}" \
                  --base main --head "release-${RELEASE_PATCH_VERSION}" \
                  --title "[Automated] Release Sync after ${{ github.ref_name }}" \
                  --body "Sync changes with master after release ${{ github.ref_name }}"
