name: Vulnerabilities Scan

on:
    workflow_run:
        workflows:
            - Release
        types:
            - completed
    schedule:
        - cron: '0 0 * * *'
    workflow_dispatch:
        inputs:
            image-tag:
                description: Docker Image tag
                required: true
                default: latest
                type: string

jobs:
    trivy-scan:
        name: Run Trivy Scan
        runs-on: ubuntu-latest
        strategy:
            matrix:
                image:
                    - k8s-replicator
                    - k8s-replicator-bundle
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@master
              with:
                  image-ref: nadunrds/${{ matrix.image }}:${{ github.event.inputs.image-tag || 'latest' }}
                  format: 'table'
                  exit-code: '1'
                  ignore-unfixed: true
                  trivyignores: ./.trivyignore
                  output: trivy-results.sarif
            - name: Upload sarif file
              uses: github/codeql-action/upload-sarif@v2
              if: success() || failure()
              with:
                  sarif_file: trivy-results.sarif
